.coursesPage {
  min-height: 90vh;
  padding: var(--spacing-lg);
  background-color: var(--color-dark-800);
  display: grid;
}



.coursesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-lg);
  align-items: start;
}



.coursesContainer {
  background-color: var(--color-dark-900);
  height: 100%;
  padding: var(--spacing-md);
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.coursesHeader{
  margin-bottom: var(--spacing-lg);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.noCourses {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}