.coursesPage {
  min-height: 90vh;
  padding: var(--spacing-lg);
  display: grid;
  width: 100%;

  @media screen and (max-width: 600px) {
    padding: 0;
    justify-content: center;
  }
}

.coursesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-lg);
  align-items: start;
}

.coursesContainer {
  background-color: var(--color-dark-900);
  height: 100%;
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto 1fr;
  @media screen and (max-width: 600px) {
    padding: var(--spacing-sm);
    width: 100%;
  }
}

.coursesHeader {
  margin-bottom: var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.noCourses {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
