.isWatched {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  place-content: center;
  color: var(--color-white-95);
  width: 1.5ch;
  height: 1.5ch;
  border-radius: 50%;
  border: 3px solid var(--color-primary);
  display: inline-block;
  text-align: center;
  line-height: 0.5;
  &[data-iswatched="true"] {
    background-color: var(--color-primary);
    color: var(--color-white-100);
  }
}
