.sidebarLayout {
    display: grid;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.main {
    grid-area: main;
    overflow-y: auto;
}

@media screen and (max-width: 1025px) {
    .sidebarLayout {
        grid-template-columns: unset;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "header"
            "main";
    }
}