$padding: 16px 12px;

.courseCard {
  background-color: var(--color-dark-800);
  border-radius: 8px;
  overflow: hidden;

  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-4px);
  }
}

.courseCardImage {
  position: relative;
  width: 100%;
  padding-top: 56.25%; // 16:9 aspect ratio
  overflow: hidden;
}

.courseImage {
  object-fit: cover;
  border-radius: 8px;
}

.courseCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $padding;
}

.courseCardTitle {
  max-width: 1000px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.courseMeta {
  display: flex;
  gap: 1rem;
  border-top: 2px solid rgba(var(--color-primary-light-rgb), 0.1);
  padding-top: 12px;
}

$meta-item-size: 0.875rem;
.courseCardDuration,
.totalVideos {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  color: var(--text-secondary);
  font-size: $meta-item-size;
}

.icon {
  font-size: $meta-item-size;
  color: var(--primary);
}
