.whyUs {
  padding-block: 6.25rem;
  background-color: var(--color-dark-900);
}

.heading {
  margin-bottom: 3rem;
}

.cards {
  --card-background-color: var(--color-white-100);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  @media (max-width: 1300px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    & > .card:last-child {
      grid-column: 2 / 3;
    }
  }

  @media (max-width: 1030px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    & > .card:last-child {
      grid-column: unset;
    }
  }
  @media (max-width: 660px) {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

.card {
  position: relative;
  background-color: var(--color-white-100);
  border-radius: 8px;
  padding: 1.5rem;
  color: var(--color-dark-900);
}

.cardTitle {
  margin-bottom: 0.75rem;
  font-size: 0.9375rem;
}
.cardText {
  margin-top: 0.75rem;
  font-size: 0.8125rem;
  font-weight: 500;
}

.cardIconBackground {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  right: 3px;
  padding: 0.25rem;
  width: 56.25px;
  height: 56.25px;
  background-color: var(--color-dark-900);
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardIcon {
  border-radius: 1000px;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-white-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator {
  --dash-width: 3.5px;
  --dash-gap: 1.5px;

  .separatorBg {
    height: 1px;
    width: 100%;
    display: block;
    background-image: repeating-linear-gradient(
      to right,
      black 0 var(--dash-width),
      white var(--dash-width) calc(var(--dash-width) + var(--dash-gap))
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
