.courseSideBar {
  border-radius: 8px;
  background-color: var(--color-dark-800);
  height: fit-content;
  padding: 1rem;

  @media screen and (max-width: 1024px) {
    margin-bottom: 1.5rem;
    
  }
}

.thumbnail {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

.progress {
  margin-bottom: 12px;
}

.organizeLink {
  margin-top: var(--spacing-md);
  display: flex;
  width: 100%;
  button {
    width: 100%;
  }
}
