.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 2rem;
  font-size: 0.875rem;
  p {
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
  }
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
  @media (max-width: 576px) {
    img{
      width: 150px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
