.about {
  background-color: var(--color-white-95);
  background-image: url("/Eclipse-Right.svg");
  background-size: cover;
  background-position: right bottom -350px;
  background-size: 300px 600px;
  background-repeat: no-repeat;
  color: var(--color-dark-900);
  padding-block: 5rem;
  .text {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  & > .container {
    display: flex;
    gap: 3rem;
  }
  .content {
    margin-top: 22px;
  }
  .img {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 330px;
    order: -1;
    @media (max-width: 1280px) {
      flex-basis: 430px;
      img {
        object-fit: scale-down;
      }
    }
  }
  h2 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }
  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1024px) {
    background-image: url("/Eclipse-Right.svg"), url("/Eclipse-Left.svg");
    background-position: right bottom -100px, left top -100px;
    background-size: 200px 400px, 200px 400px;

    background-repeat: no-repeat;

    & > .container {
      flex-direction: column;
      gap: 2rem;
    }
    .content {
      margin-top: 0;
    }
    .img {
      order: 1;
      flex: 0;
      img {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }
}
