.courseScreen {
  --course-sidebar-width: 440px;
  display: grid;
  grid-template-columns: var(--course-sidebar-width) 1fr;
  gap: 1.5rem;
}


.courseSideBar {
  border-radius: 8px;
  background-color: var(--color-dark-800);
  height: fit-content;
  padding: 1rem;
}