.video {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-800);
  margin-bottom: 1.25rem;
  border-radius: 8px;
}

.title {
  color: var(--white);
  margin-bottom: 0.5rem;
}

.meta {
  display: flex;
  gap: 1ch;
  font-size: 0.875rem;
  align-items: center;
}
