.border-dividor {
    border-top: 2px solid rgba(var(--color-primary-light-rgb), 0.1);
    padding-top: 12px;
}

.border-dividor-bottom {
    border-bottom: 2px solid rgba(var(--color-primary-light-rgb), 0.1);
    padding-bottom: 12px;
}