.lowerBanner {
    background-color: var(--color-white-100);
    padding-block: 6.25rem;
    text-align: center;
    p{
        color: var(--color-dark-900);
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        line-height: 1.5;
    }
}
